.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .left {
      grid-column:1;
  }
  .right {
      grid-column:2;
  }
  .biased-right {
      grid-template-columns: 1fr 2fr;
  }
  .biased-left {
      grid-template-columns: 2fr 1fr;
  }